# Exercicios feitos na Aula de 08/09/2021

## Criando as tabelas

In [44]:
%defaultDatasource jdbc:h2:mem:db

In [46]:
DROP TABLE IF EXISTS Tab01;
DROP TABLE IF EXISTS Tab02;
DROP TABLE IF EXISTS Cidade;
DROP TABLE IF EXISTS Pessoa;

In [47]:
CREATE TABLE Cidade (
  Nome_Cidade VARCHAR(100) NOT NULL,
  Sigla_Estado VARCHAR(2) NOT NULL,
  PRIMARY KEY(Nome_Cidade)
);

CREATE TABLE Pessoa (
  Nome VARCHAR(100) NOT NULL,
  Nome_da_Mae VARCHAR(100),
  Ano_de_Nascimento INTEGER NOT NULL,
  Cidade_Natal VARCHAR(100) NOT NULL,
  
  PRIMARY KEY(Nome),
  FOREIGN KEY(Cidade_Natal)
    REFERENCES Cidade(Nome_Cidade)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,  
);

In [48]:
INSERT INTO Cidade VALUES ('Salvador', 'BA');
INSERT INTO Cidade VALUES ('Itabuna', 'BA');
INSERT INTO Cidade VALUES ('Campinas', 'SP');
INSERT INTO Cidade VALUES ('Petrolina', 'PE');
INSERT INTO Cidade VALUES ('Juazeiro', 'BA');

INSERT INTO Pessoa VALUES ('Melissa', NULL, 1930, 'Salvador');
INSERT INTO Pessoa VALUES ('Asdrubal', 'Melissa', 1970, 'Salvador');
INSERT INTO Pessoa VALUES ('Quincas', 'Melissa', 1973, 'Salvador');
INSERT INTO Pessoa VALUES ('Doriana', NULL, 1970, 'Campinas');
INSERT INTO Pessoa VALUES ('Alcebiades', 'Doriana', 2010, 'Campinas');
INSERT INTO Pessoa VALUES ('Lucinda', 'Melissa', 1970, 'Itabuna');
INSERT INTO Pessoa VALUES ('Mirabela', 'Melissa', 1972, 'Salvador');
INSERT INTO Pessoa VALUES ('Horacio Junior', 'Lucinda', 1998, 'Itabuna');
INSERT INTO Pessoa VALUES ('Tecodonte', 'Lucinda', 2000, 'Petrolina');
INSERT INTO Pessoa VALUES ('Piteco', 'Mirabela', 2001, 'Juazeiro');
INSERT INTO Pessoa VALUES ('Melissinha', 'Mirabela', 2003, 'Juazeiro');

## Selecionando todas as pessoas que possuem primos, usando somente ALIAS  (Jeito que eu fiz antes da resposta do professor)

In [49]:
SELECT DISTINCT P1.nome
    From Pessoa P1, Pessoa P2, Pessoa P3
    WHERE P2.Nome = P1.Nome_da_Mae AND P3.nome = P2.Nome_da_Mae;

## Selecionando todas as pessoas que possuem primos, usando somente ALIAS (Depois da resposta do professor)

In [54]:
SELECT DISTINCT P1.nome
FROM Pessoa P1, Pessoa P2, Pessoa P3, Pessoa P4
WHERE P1.Nome_da_Mae = P2.nome AND
      P3.Nome_da_Mae = P4.nome AND
      P2.Nome_da_Mae = P4.Nome_da_Mae AND
      P2.nome <> P4.nome

## Selecionando todas as pessoas que possuem primos, usando dois IEWS e um ALIAS

In [50]:
DROP TABLE IF EXISTS Tab01;
DROP TABLE IF EXISTS Tab02;

CREATE VIEW Tab01 AS 
    SELECT P1.nome, P2.Nome_da_Mae
    FROM Pessoa P1, Pessoa P2
    WHERE P1.Nome_da_Mae = P2.Nome;
    
CREATE VIEW Tab02 AS 
    SELECT P1.nome, P2.Nome_da_Mae
    FROM Pessoa P1, Pessoa P2
    WHERE P1.Nome_da_Mae = P2.Nome;
    
SELECT DISTINCT P1.nome
    FROM Tab01 P1, Tab02 P2
    WHERE P1.Nome_da_Mae = P2.Nome_da_Mae;